/* Search input */

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-item {
    background-color: #f9f9f9;
    padding: .5rem .5rem;
    border: 1px solid #ddd;
    width: 300px;
}

#search_bar {
    width: 400px;
}


/* Style checkboxes and labels for the search page*/

input[type="checkbox"] {
    float: bottom;
}

label {
    display: block;
    margin-bottom: 5px;
}