* {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 600;
}

/* Body rules */

body {
    margin-top: 60px;
    background-color: #f1eeee;
    /* for footer */
    padding: 0;
    margin-bottom: 80px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


/* Heading rules */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 800;
}

h1 {
    padding-top: 20px;
}

h2 {
    color: blue;
}


/* Rules for the navbar */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4b2e83;
    padding: 0.5rem;
    padding-bottom: 1rem;
    color: white;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

nav ul li {
    display: inline-flex;
    margin: 0 1rem;
    font-size: 20px;
    align-items: center;
}

nav ul li img {
    width: 40px;
    height: 40;
    margin: 0;
    border-radius: 9px;
    
}

nav a {
    color: white;
    text-decoration: underline;
}


nav .appName a{
    text-decoration: none;
    color: inherit;
    font-family: 'Encode Sans Condensed', sans-serif;
}

/* rules for images */

.course-container img {
    width: 100%;
    height: auto;
}


.index-box {
    border: 1px solid #ccc;
    /* Border for each box */
    padding: 10px;
    /* Padding within each box */
    margin-bottom: 10px;
    /* Add some space between boxes */
    height: 150px; /* Fixed height for all boxes */
    width: 100%; /* Make sure boxes take up the full width of their container */
    box-sizing: border-box; /* Include padding and border in width and height */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.index-box p {
    font-size: 0.75em;
}

.sign_in_form label,
.sign_in_form input,
.sign_in_form a {
    display: block;
    margin-top: 10%;
    margin-bottom: 1rem;
}

.checklist {
    position: fixed;
    top: 75px; /* Adjust as needed */
    right: 0;
    padding: 20px;
    background-color: white;
    border-left: 1px solid #ccc; /* Add border to separate from planner */
    border-radius: 10px;
    height: calc(100% - 60px); /* Full height minus top margin */
    overflow-y: auto; /* Scroll if content overflows */
  }
  
  .checklist h2 {
    margin-bottom: 10px;
  }
  
  .checklist ul {
    padding: 0;
    list-style-type: none;
  }
  
  .checklist li {
    margin-bottom: 5px;
  }
  
  .checklist input[type="checkbox"] {
    margin-right: 5px;
  }

footer {  /* footer styling*/
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 80px; /* Adjust as needed */
    background-color: #333; /* Footer background color */
    color: #fff; /* Footer text color */
    text-align: center; /* Center-align text */
    line-height: .4rem; /* Adjust the value to decrease or increase the space between lines */
}

@media (max-width: 597px) {
    .course-item p {
        display: none;
    }

    .course-item h2 {
        font-size: 20px;
    }
}

@media (min-width: 598px) {
    /* Defines the grid for the index page */
    nav ul li {
        font-size: 40px;
    }

    .index-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .index-column {
        flex-basis: 30%;
        /* Adjust the width as needed */
        padding: 10px;
        /* Padding around the content */
        box-sizing: border-box;
        /* Include padding in width calculation */
        
    }
    .index-column h2 {
        text-align: center;
        margin-bottom: 10px;
    }
    .sign_in_form label,
    .sign_in_form input,
    .sign_in_form a {
        display: inline;
    }
    .course-container {
        display: flex;
        flex-direction: row;
    }
    .course-column {
        width: 50%;
    }
    .course-column img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 992px){
    footer{
        display: block;
    }
    
}
